@import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");

@tailwind base;
@tailwind components;
@tailwind utilities;



/* .slick-prev::before,
.slick-next::before {
width: 50px;
height: 50px;
  font-size: 24px;
  background-color: green;
  border-radius: 20%;
} */

/* Hide scrollbar completely */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

/* Hide scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}

.custom-swiper .swiper-scrollbar {

  width: 60px !important;
  /* Smaller parent width */
  height: 4px !important;
  left: 50% !important;
  transform: translateX(-50%);
  margin-top: 20px;
  background: rgba(200, 200, 200, 0.6);
  /* Light gray */
  border-radius: 10px;
}

.custom-swiper .swiper-scrollbar-drag {
  width: 20px !important;
  /* Smaller child width */
  background: black !important;
  border-radius: 10px;
  transition: transform 0.3s ease;
}


/* Default arrow customization */
.swiper-button-prev,
.swiper-button-next {
  color: black !important;
  background-color: white;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  font-weight: bold !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

/* Change arrow icon size */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
}

/* ====================================================== */


/* ====================================================== */



/* Slider background  */
.slider-bg {
  @apply bg-[#FFF1BA];
}

@layer components {
  /* .slider-title {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-black leading-none flex items-center px-2 whitespace-nowrap gap-2
  }

   Title */


  .rounded-md {
    border-radius: 6px !important;
  }

  button:disabled {
    color: rgb(169, 169, 169);
    border-radius: 8px;
  }

}